<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BroadcastServer.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>JKEGCommonLib.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>VncServer(Debug).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>VncServer(Release with Log).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>VncServer(Release).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0660D23E21191C7100C1E2F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0660D4382119B0B400C1E2F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>069C50C62118535D0087CF1B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>069C50DA2118535E0087CF1B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>069C50E52118535E0087CF1B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>069C513621185BC50087CF1B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>069C5162211868D40087CF1B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
